body {
  margin: 0px;
  margin-bottom: 50px;
  background-color: #E5CDC8;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  margin-top: 0px;
  background-color: #D7A6B3;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}

div {
  margin-left: 3%;
  padding-left: 2%px;
  padding-top: 1%px;
  text-align: justify;
  background-color: #E5CDC8;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

div1{
  position: fixed;
  top: 20%;
}

div2{
  position: fixed;
  top: 20%;
  left: 10%;
}

p{
  margin-top: 0px;
  margin-bottom: 0px;
}

divtxt{
  position: fixed;
  top: 15%;
}
