@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	margin: 0px;
	margin-bottom: 50px;
	background-color: #E5CDC8;
	font-family: "Inter", sans-serif;
}

h1 {
	font-weight: 600;
	font-style: normal;
	font-size: 45px;
}

#background {
	background-color: rgba(255, 255, 255, 0.8);
	position: center;
	text-align: center;
	margin: 0 auto;
	padding: 0.3%;
	padding-bottom: 0.5%;
	margin-top: 7%;
	width: 30%;
	border-radius: 30px;
}

nav {
  position: relative;
  top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-top: 5px;
  text-align: justify;
  background-color: #D7A6B3;
  font-family: "Times New Roman", Times, serif;
}


input {
	text-decoration: none;
	font-style: "Roboto", sans-serif;
	font-weight: 600;
	letter-spacing: 0.5px;
	margin: 0.5%;
	padding: 10px;
	border-radius: 30px;
	cursor: pointer;
}

.button:hover {
	transition: 0.3s;
	background-color: rgb(189, 172, 172);
	color: white;
}


#return {
	padding: 5px;
	width: 5%;
}

textarea { 
	resize: none; 
	height: 200px;

}


p {
	font-size: 20px;
}

a {
	text-decoration: none;
	color: rgb(164, 77, 77);
	transition: 0.3s;
}
a:hover {
	color: rgb(130, 71, 71);
}

.flashes {
	text-align: center;
	color: rgb(223, 106, 106);
}

footer{
  position: fixed;
  bottom:0px;
  right: 0px;
  left: 0px;
  margin-bottom:0px;
  background-color: #7A3B69;
  font-size: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-weight: bold;
  color: #ffffff;
}
