<!DOCTYPE html>

<html>

  <head>
    <title> {{ storyname }} </title>
  </head>

  <nav>
    <form action = "/">
        <input type="submit" name="return" value ="Home">
    </form>

 </nav>

  <body>
    <h1> {{ storyname }} </h>

	<divcontent>
    <p>
      {{ content }}
    </p>
	<divcontent>

<div1>

<textarea id="editing" name="edit" rows="4" cols="50">

Add the next part of the story here!

</textarea> 

<button form = editing type = submit> Submit </button>

<div1>
  </body>
  

  <footer> You are currently logged in as {{ user }} </footer>

</html>