<!DOCTYPE html>
<html>
<head>
    <title>{{ storyname }}</title>
</head>
<body>
    <nav>
        <form action="/">
            <input type="submit" name="return" value="Home">
        </form>
    </nav>
    
    <h1>{{ storyname }}</h1>
    <p>{{ content }}</p>

    <form action="/edit/{{ storyname }}" method="POST">
        <textarea id="editing" name="content" rows="4" cols="50">Add the next part of the story here!</textarea>
        <button type="submit">Submit</button>
    </form>

    <footer> You are currently logged in as {{ user }} </footer>
</body>
</html>
