<!DOCTYPE html>

<html>

    <head>
	<link rel="stylesheet" href="static/css/home.css">
        <title> HOME </title>
    </head>

    <body>
        <h1>Tater Tots</h1>
        <p>
            {{ logged_in_text }} <!-- placeholder text for when the user has just logged in -->

            {% if 'username' in session %} <!-- show different buttons depending on whether the user is logged in -->
                <form action="/logout">
                    <input type="submit" name="logout" value="Logout">
                </form>

                <form action="/newstory">
                    <input type="submit" name="newstory" value="Create a New Story!">
                </form>

            {% else %}
                <form action="/login"">
                    <input type="submit" name="login" value="Login">
                </form>
            {% endif %}
        </p>
    </body>

</html>
