<!DOCTYPE html>

<html>

    <head>
        <title> LOGIN PAGE </title>
    </head>

    <body>
        <h1>Tater Tots</h1>
        <br>
        <h3>
        {% if 'username' in session %}
            <form action="/logout" method="POST">
                <input type="submit" name="logout" value="Logout">
            </form>
        {% else %}
            <form action="/login" method="POST">
                <input type="submit" name="login" value="Login">
            </form>
        {% endif %}
        </h3>
    </body>

</html>
