<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/newstory.css">
    <title>New Story</title>
</head>
<body>
    <nav> 
        <form action="/">
            <input type="submit" name="return" value="Home">
        </form>
    </nav>

    <h1>New Story</h1>
    <form action="/newstory" method="POST">
        <label for="title">Title:</label><br>
        <input type="text" name="title"><br>

        <label for="entry">WRITE!</label><br>
        <textarea id="entry" name="entry" rows="4" cols="50"></textarea><br>

        <input type="submit" name="submit" value="Submit">
    </form>

    <footer> You are currently logged in as {{ user }} </footer>
</body>
</html>
