<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet" href="static/css/newstory.css">
    <title> New Story </title>
  </head>

  <nav> 
        <form action = "/">
        <input type="submit" name="return" value ="Home">
        </form>
 </nav>

  <body>
    <h1> New Story </h1>

	<div1>
    		<form type = "text> 

   		<label for="title"> Title: </label><br>
        		<form action = "/">
        		<input type="text" name="title">
        		</form>

		<br>

		<label for = "edit"> WRITE! </label><br>

		<textarea id="editing" name="edit" rows="4" cols="50">
		Write here!
		</textarea> 

        	<form action = "/view">
        	<input type="submit" name="return" value ="Submit">
        	</form>
	</div1>
  </body>
  

  <footer> You are currently logged in as {{ user }} </footer>

</html>
