<!DOCTYPE html>

<html>
    <head>
    	<link rel="stylesheet" href="static/css/register.css">
        <title> REGISTER </title>
    </head>

    <body>
        <h1>Please Register</h1>
	<div>

        <form action="/auth_reg" method="POST">
            <input type="text" name="new_user" placeholder="New Username">
		<br>
            <input type="text" name="new_pass" placeholder="New Password">
            <input type="submit" name="register" value="Register">
        </form>

	<div1>
        <form action="/login">
            <input type="submit" name="return" value="Go Back">
        </form>
	</div1>

        <p style="color: red"> {{ error_text }} </p> <!-- placeholder text for if the user inputs incorrect registration -->
    	</div>
    </body>
</html>